{% extends "main/base.html" %}
{% load static %}

{% block maincontainer %}
	<article class="grid">
		<div>
			<hgroup>
				<h1>Log in</h1>
				<h2>Log in to The Internet Airline</h2>
			</hgroup>

			<form method="POST">
				{% csrf_token %}
				{{ form }}
				<!-- Remember me field would be nice, but not sure how to implement into LoginView -->
				<!-- <fieldset> -->
					<!-- <label for="remember"> -->
						<!-- <input type="checkbox" role="switch" name="remember"> -->
						<!-- Remember me -->
					<!-- </label> -->
				<!-- </fieldset> -->
				<button type="contrast">Login</button>
				<a href="{% url 'createaccount' %}?next={% url 'billinginfo' %}" role="button" class="contrast-outline">Create new account</a>
			</form>
		</div>
	</article>
{% endblock %}
